<footer class="footer">
	<div class="footer-content">
		<% theme.widgets.forEach(function(widget){ %>
	      <%- partial('_widgets/' + widget) %>
	    <% }) %>

		<div class="footer-credit">
			<span>© <%- new Date().getFullYear() %> <%- config.author %> | Theme by Paddy Informatique</a></span>
		</div>

	</div>


</footer>
