<div class="footer__element">
	<h5>Quick links</h5>
	<ul class="footer-links">
		<li class="footer-links__link"><a href="/">Home</a></li>
		<li class="footer-links__link"><a href="archives/">Archive</a></li>
		<li class="footer-links__link"><a href="about/">Our Profile</a></li>
		<li class="footer-links__link"><a href="categories/">Categories</a></li>
	</ul>
</div>
